:root{
--Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'manrope', sans-serif;
    font-size: 16px;
    background-color: var(--Dark-Grayish-Blue);
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 0.1px);
}
p{
    font-size: 28px;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
.container{
    background-color: var(--Grayish-Blue);
    padding: 1.25rem 1.25rem 2rem;
    border-radius: 1rem;
    position: relative;
}
.container h1{
    color: var(--Neon-Green);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 0.625rem;
    margin-bottom: 1rem;
}
.container p{
    margin-bottom: 2rem;
    color: var(--Light-Cyan);
}
.container picture img{
background-color: var(--Grayish-Blue);
position: relative;
margin-bottom: 1rem;
}
.container picture::before{
    content: "";
    width: 40%;
    height: 1px;
    background-color: var(--Light-Cyan);
    right: 1.25rem;
    bottom: 3.8rem;
    position: absolute;
    display: block;
    z-index: 99;
}
.container picture::after{
    content: "";
    width: 45%;
    height: 1px;
    background-color: var(--Light-Cyan);
    left: 0;
    bottom: 1.7rem;
    position: relative;
    display: block;
}
.container button{
    background-color:var(--Neon-Green);
    padding: 1.25rem;
    border: none;
    border-radius:50%;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container button:hover{
    background-color: hsl(150, 53%, 44%);
}
.attribution{
    font-size: 11px;
    text-align: center;
    margin-top: 4rem;
    color: var(--Light-Cyan);
}
.attribution a{
    color: hsl(228, 45%, 44%);
    transition: color 0.3s ease-in-out;
}
.attribution a:hover{
    color:hsl(228, 41%, 40%);
}